/* .testing123
{
width: 100vw;
height:50px;
padding:20px;
text-align:center;
background:#fc0;
display: flex;
justify-content: center;
-webkit-animation:move 1s ease-in 2s 6 alternate; /* Safari & Chrome */ 
/* -moz-animation:move 1s ease-in 2s 6 alternate; /* Firefox */
/* -o-animation:move 1s ease-in 2s 6 alternate; */ /* Opera */
/* animation:move 1s ease-in 2s 6 alternate; W3C 
} */



/*
@-webkit-keyframes 'move' {
	from {
	  top: 20%;
	  left:-50%;
	  }
	to {
	  top: 20%;
	  left:150px;
	}
}
@-moz-keyframes 'move' {
	from {
	  top: 20px;
	  left:0px;
	  }
	to {
	  top: 150px;
	  left:150px;
	}
}
@-o-keyframes 'move' {
	from {
	  top: 20px;
	  left:0px;
	  }
	to {
	  top: 150px;
	  left:150px;
	}
}

@keyframes 'move' {
	from {
	  top: 20%;
	  left:-50%;
	  }
	to {
	  top: 20%;
	  left:150px;
	}
} 

*/

 @keyframes img1 {
  /* 0%   {
    left: -60%;
    background-color: red;
  }
  25%  {
    background-color: yellow;
  }
  50%  {
    background-color: orange;
  }
  100% {
	right: 70%; */
  from {
	transform: translateX(0vw);
  }
  to {
	transform: translateX(100vw)
  }
}
/*

@keyframes img2 {
	0%   {
	  left: -60%;
	  background-color: red;
	}
	25%  {
	  background-color: yellow;
	}
	50%  {
	  background-color: blue;
	}
	100% {
	  background-color: green;
	  right: 50%;
	}
}

  
.img1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    left: 100%;
    top: 5%;
	margin-right: 10%;
    animation: 3s linear 5s ;
}

.img2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    left: 100%;
	top: 12%;
    animation-name: img2;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} */

.testing {
	animation: 15s linear 1s infinite running img1;
	animation-timing-function: cubic-bezier(0.25, 0.50, 0.75, 1.05);
	/*
	This property is a shorthand for the following CSS properties:

		animation-delay
		animation-direction
		animation-duration
		animation-fill-mode
		animation-iteration-count
		animation-name
		animation-play-state
		animation-timing-function
	*/
}