/* .testing123
{
width: 100vw;
height:50px;
padding:20px;
text-align:center;
background:#fc0;
display: flex;
justify-content: center;
-webkit-animation:move 1s ease-in 2s 6 alternate; /* Safari & Chrome */ 
/* -moz-animation:move 1s ease-in 2s 6 alternate; /* Firefox */
/* -o-animation:move 1s ease-in 2s 6 alternate; */ /* Opera */
/* animation:move 1s ease-in 2s 6 alternate; W3C 
} */



/*
@-webkit-keyframes 'move' {
	from {
	  top: 20%;
	  left:-50%;
	  }
	to {
	  top: 20%;
	  left:150px;
	}
}
@-moz-keyframes 'move' {
	from {
	  top: 20px;
	  left:0px;
	  }
	to {
	  top: 150px;
	  left:150px;
	}
}
@-o-keyframes 'move' {
	from {
	  top: 20px;
	  left:0px;
	  }
	to {
	  top: 150px;
	  left:150px;
	}
}

@keyframes 'move' {
	from {
	  top: 20%;
	  left:-50%;
	  }
	to {
	  top: 20%;
	  left:150px;
	}
} 

*/

@keyframes example {
  0%   {
    left: -60%;
    background-color: red;
  }
  25%  {
    background-color: yellow;
  }
  50%  {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

.another {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    left: 60%;
    top: 12%;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}